<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU8wLWtjdrWr9Lyhnsm61rdBHOE5xMNBI</string>
	<key>GCM_SENDER_ID</key>
	<string>1099037012570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stepanoviosdev.takeaphoto</string>
	<key>PROJECT_ID</key>
	<string>takeaphoto-acb22</string>
	<key>STORAGE_BUCKET</key>
	<string>takeaphoto-acb22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099037012570:ios:64eb2904b0025c79c49e63</string>
</dict>
</plist>