<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb307636185512273</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>307636185512273</string>
    <key>FacebookClientToken</key>
    <string>5d95bc6b027c944ec66bccb329b1a2a0</string>
    <key>FacebookDisplayName</key>
    <string>Take a Photo</string>
    
    <key>FacebookAutoLogAppEventsEnabled</key>
    <string>TRUE</string>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <string>TRUE</string> 
</dict>


</plist>
